.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes float1 {
  0% {
    transform: translate(0, 0)
  }

  50% {
    transform: translate(-10px, 0)
  }

  100% {
    transform: translate(0, 0)
  }
}

.triangle-float1 {
  animation: float1 5s infinite;
}

@keyframes float2 {
  0% {
    transform: translate(0, 0)
  }

  50% {
    transform: translate(-5px, -5px)
  }

  100% {
    transform: translate(0, 0)
  }
}

.triangle-float2 {
  animation: float2 4s infinite;
}

@keyframes float3 {
  0% {
    transform: translate(0, 0)
  }

  50% {
    transform: translate(0, -10px)
  }

  100% {
    transform: translate(0, 0)
  }
}

.triangle-float3 {
  animation: float3 6s infinite;
}